<!DOCTYPE html>
<html>
<head>
    <title>Kolokwium</title>
        <style>
        .cell{
            display: flex;
            justify-content: center;
            align-items: center;
            width:50px;
            height: 50px;
            background-color: orange;
            border: 1px solid gray;
            border-radius: 10px;
            margin: 0 10px 10px 0;
        }
    </style>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
    {{ message }}
          <!--<div lass="cell"><p>1</p></div>-->
            <div v-for="i in rows" style="display: flex; content: wrap;">
        <div v-for="j in columns" style="display: flex; content: wrap;">
            <div class="cell">
                {{i}},{{j}}
            </div>
        </div>
    </div>
    </div>

    <script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Powodzenia',
                        rows: 10,
                        columns: 10,
        }
    })
    </script>
</body>
</html>
